---
import Container from '@/components/Container.astro';

const pathname = Astro.url.pathname;

const isAboutMePage = pathname === '/';
const isWorkPage = pathname.startsWith('/work');
const isStudiesPage = pathname.startsWith('/studies');
const isProjectsPage = pathname.startsWith('/projects');

---

<Container as='header' class="w-full max-w-full flex justify-center items-center">
  <div class="w-max fixed top-0 mt-5 bg-muted-foreground/40 backdrop-blur-md border border-border rounded-full p-1">
    <nav class="flex items-center">
      <ul class="flex items-center gap-1">
        <li>
          <a href="/" class:list={[
            'font-medium transition-colors block px-5 py-2',
            'hover:text-headings',
            isAboutMePage && 'text-headings bg-muted-foreground/40 rounded-full',
          ]}>About Me</a>
        </li>
        <li>
          <a href="/work" class:list={[
            'font-medium transition-colors block px-5 py-2',
            'hover:text-headings',
            isWorkPage && 'text-headings bg-muted-foreground/40 rounded-full',
          ]}>Work Experience</a>
        </li>
        <li>
          <a href="/studies" class:list={[
            'font-medium transition-colors block px-5 py-2',
            'hover:text-headings',
            isStudiesPage && 'text-headings bg-muted-foreground/40 rounded-full',
          ]}>Studies</a>
        </li>
        <li>
          <a href="/projects" class:list={[
            'font-medium transition-colors block px-5 py-2',
            'hover:text-headings',
            isProjectsPage && 'text-headings bg-muted-foreground/40 rounded-full',
          ]}>Projects</a>
        </li>
        
      </ul>
    </nav>
  </div>
</Container>
